@use "../../styles/globals" as *;

.apartment-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0 20px;

  &__title {
    color: $color-primary;
    font-weight: 500;
    font-size: 36px;
  }

  &__location {
    color: $color-black;
    font-weight: 500;
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .appartment-info {
    &__title {
      font-size: 18px;
    }

    &__location {
      font-size: 14px;
    }
  }
}
