@use "../../styles/globals" as *;

.host {
  display: flex;
  align-items: center;
  gap: 10px;

  &__name {
    color: $color-primary;
    font-size: 18px;
    font-weight: 500;
    text-align: right;
  }

  /* Photo arrondie */
  &__picture {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
    background-color: $color-grey;
  }
}

@media (max-width: 768px) {
  .host {
    &__name {
      font-size: 12px;
    }

    &__picture {
      width: 32px;
      height: 32px;
    }
  }
}
