@use "../../styles/globals" as *;

.rating {
  display: flex;
  gap: 10px;

  &__star img {
    width: 36px;
    height: 36px;
    display: block;
  }
}

@media (max-width: 768px) {
  .rating {
    &__star img {
      width: 13.41px;
      height: 13px;
    }
  }
}
