@use "../../styles/globals" as *;

.tag {
  background-color: $color-primary;
  color: $color-white;
  font-weight: 700;
  font-size: 14px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 25px;
  border-radius: 10px;
  padding: 10px;
}

@media (max-width: 768px) {
  .tag {
    width: 84px;
    height: 18px;
    border-radius: 5px;

    font-size: 10px;
  }
}
