@use "../styles/globals" as *;

.housing {
  margin: 30px 80px 0; // même marge que header/banner

  /* -------------------------
   Bloc haut
-------------------------- */

  &__top {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__left {
    max-width: 70%;
  }

  &__tags {
    margin-top: 15px;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;

    margin: 0 20px;
  }

  /* -------------------------
   Bloc bas : 2 Collapse
-------------------------- */

  &__collapses {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    margin-right: 20px;
    margin-left: 20px;
  }

  &__collapses > * {
    width: 50%;
  }

  &__equipments-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

@media (max-width: 768px) {
  .housing {
    margin: 20px;

    &__top {
      margin-top: 20px;
      flex-direction: column;
      gap: 16px;
    }

    &__left {
      max-width: 100%;
    }

    /* rating à gauche, host à droite */
    &__right {
      flex-direction: row-reverse;

      align-items: center;
      justify-content: space-between;
    }

    &__collapses {
      margin-top: 20px;
      flex-direction: column;
      gap: 0px;
    }

    &__collapses > * {
      width: 100%;
    }
  }
}
