@use "../styles/globals" as *;

.notfound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;

  text-align: center;
  padding: 40px 20px;
  margin: 80px 50px;
}

.notfound__code {
  font-size: 288px;
  font-weight: 700;
  color: $color-primary;
}

/* Message sous le 404 */
.notfound__message {
  font-size: 36px;
  font-weight: 500;
  color: $color-primary; // rose aussi
}

/* Lien pour revenir à l’accueil */
.notfound__link {
  font-size: 18px;
  font-weight: 500;
  color: $color-black;
  text-decoration: underline;
}

/* ---------------------------------------------
   MOBILE
--------------------------------------------- */

@media (max-width: 768px) {
  .notfound {
    gap: 20px;
  }

  .notfound__code {
    font-size: 96px;
  }

  .notfound__message {
    font-size: 18px;
  }

  .notfound__link {
    font-size: 14px;
  }
}
