@use "../styles/globals" as *;

.collapse {
  margin: 20px auto;

  /* ---------------------------------------------
   HEADER (barre rose cliquable)
--------------------------------------------- */

  &__header {
    width: 100%;
    height: 54px;
    border-radius: 5px;
    border: none;
    padding: 0 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: $color-primary; // rose Kasa
    color: $color-white;

    font-size: 24px;
    font-weight: 700;
    font-family: inherit;

    cursor: pointer;
    outline: none;
  }

  /* Titre dans la barre */
  &__title {
    text-align: left;
  }

  &__icon {
    transition: transform 0.3s ease;
    height: 13.71px;
    width: 24px;
  }

  &__icon.open {
    transform: rotate(180deg);
  }

  /* ---------------------------------------------
   ANIMATION
--------------------------------------------- */

  &__content-wrapper {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
    background-color: $color-light; // gris clair
    border-radius: 0 0 5px 5px;
  }

  /* Quand le collapse est ouvert */
  &--open {
    .collapse__content-wrapper {
      max-height: 500px;
    }
  }

  &__content {
    padding: 20px;
    font-size: 16px; // ~2 crans sous 24px
    color: $color-black; // texte noir
    line-height: 1.5;
  }
}

/* ---------------------------------------------
   RESPONSIVE MOBILE
--------------------------------------------- */

@media (max-width: 768px) {
  .collapse {
    &__header {
      height: 30px;
      padding: 0 12px;
      font-size: 13px;
    }

    &__icon {
      height: 9.14px;
      width: 16px;
    }

    &__content {
      padding: 15px 12px;
      font-size: 14px;
    }
  }
}
