@use "../styles/globals" as *;

.footer {
  background-color: black;
  height: 209px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__logo {
    height: 40px;
    margin: 40px 0;
  }

  & p {
    color: white;
    font-size: 24px;
    font-weight: 500px;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .footer {
    &__logo {
      margin-bottom: 20px;
    }

    & p {
      font-size: 12px;
    }
  }
}
