@use "../styles/globals" as *;

.slideshow {
  position: relative;
  width: 100%;
  height: 415px;
  border-radius: 25px;
  overflow: hidden;
}

/* image qui remplit le bloc */
.slideshow__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* flèches gauche/droite */
.slideshow__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 79.2px;
  height: 79.2px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: none;
  border: none;

  color: $color-white;
  font-size: 48px;
  font-weight: 700;

  cursor: pointer;

  /* lisibilité */
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

/* flèche gauche */
.slideshow__arrow--prev {
  left: 20px;
}

/* flèche droite */
.slideshow__arrow--next {
  right: 20px;
}

/* 1 / X */
.slideshow__counter {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  color: $color-white;
  font-size: 18px;
  font-weight: 500;

  /* lisibilité */
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

@media (max-width: 768px) {
  .slideshow {
    height: 255px;
    border-radius: 10px;
  }

  .slideshow__arrow {
    width: 24px;
    height: 24px;
    font-size: 18px;
    margin-top: -12px;
  }

  .slideshow__counter {
    font-size: 14px;
    bottom: 10px;
  }
}
