@use "../styles/globals" as *;

.slideshow {
  position: relative;
  // width: 100%;
  height: 415px;
  border-radius: 25px;
  overflow: hidden;

  margin: 15px 20px;

  /* image qui remplit le bloc */
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* bouton contenant flèches gauche/droite */
  &__arrow {
    position: absolute;
    top: 50%;
    height: 79.2px;
    transform: translateY(-50%);

    display: flex;
    align-items: center;
    justify-content: center;

    background: none;
    border: none;

    cursor: pointer;

    /* lisibilité */
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.7));
  }

  /* flèche gauche */
  &__arrow--prev {
    left: 20px;
  }

  &__arrow--prev img {
    transform: scaleX(-1);
    height: 100%;
  }

  /* flèche droite */
  &__arrow--next {
    right: 20px;
  }

  &__arrow--next img {
    height: 100%;
  }

  /* 1 / X */
  &__counter {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    color: $color-white;
    font-size: 18px;
    font-weight: 500;

    /* lisibilité */
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  }
}

@media (max-width: 768px) {
  .slideshow {
    height: 255px;
    border-radius: 10px;
    margin: 15px 20px;

    &__arrow {
      height: 19.8px;
      margin-top: -12px;
    }

    &__counter {
      display: none;
    }
  }
}
